$primary-theme: #1d273b;
$secondary-theme: #ffffff;
$tertiary-theme: #f59f00;

$primary-hover: #213150;
$secondary-hover: #c7c7c7;
$tertiary-hover: #d28800;

$sidenav-width-default: 250px;
$sidenav-width-mobile: 100px;


@font-face {
    font-family: "Titillium Web";
    src: url(../fonts/titillium_web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/open_sans/OpenSans-Regular.ttf);
}


h1, h2, .navbar-links a {
    font-family: "Titillium Web";
}

body {
    font-family: "Open Sans";
}

body {
    overflow: auto;
}


/* CSS Ruleset for Layout (App) */
#appNavbar, #appMain {
    margin-left: $sidenav-width-default;
}

#guestNavbar, #guestMain {
    margin-left: 0px;
}

.navbar {
    z-index: 99999;

    .navbar-brand {
        color: $primary-theme;
    }
}

.sidenav {
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: $sidenav-width-default;
    background-color: $primary-theme;
    z-index: 99999;

    .sidenav-top {
        height: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid $tertiary-theme;

        .sidenav-brand {
            display: inline-flex;
            align-items: center;
            font-weight: 600;
            margin: 0;
            line-height: 1;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            font-size: 1rem;
            white-space: nowrap;
            text-decoration: none;
            color: $secondary-theme;
        }
    }

    .sidenav-mid {
        height: 84%;

        .navigation-list {
            list-style-type: none;
            color: $secondary-theme;
            padding: 0px;

            li {
                cursor: pointer;
                display: flex;
                -webkit-box-pack: start;
                justify-content: flex-start;
                -webkit-box-align: center;
                align-items: center;
                position: relative;
                text-decoration: none;
                width: 100%;
                box-sizing: border-box;
                text-align: left;
                min-height: 50px;
                padding: 20px;

                &:hover {
                    background-color: #213150;
                }
            }
        }
    }

    .sidenav-bot {
        height: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 2px solid $tertiary-theme;

        span {
            color: $secondary-theme;
        }
    }
}

.app-logo {
    font-size: 1.2rem;
}
/* CSS Ruleset for Layout (App) */

/* CSS Ruleset for Welcome */
.nav-pills {
    a {
        color: $secondary-theme;
        &:hover {
            color: $tertiary-hover;
        }
    }

    .nav-link {
        &.active {
            color: $tertiary-theme;
        }
    }
}

.dropdown {
    .dropdown-toggle {
        &::after {
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            transform: unset;
        }
    }

    .dropdown-menu-arrow {
        &::before {
            display: none;
        }
    }
}
/* CSS Ruleset for Welcome */

/* CSS Ruleset for Home */

/* CSS Ruleset for Home */


@media screen and (max-width: 576px){ // Bootstrap Breakpoint: Extra Small
    #appNavbar, #appMain {
        margin-left: $sidenav-width-mobile;
    }

    .sidenav {
        min-width: $sidenav-width-mobile;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){ // Bootstrap Breakpoint: Small
    #appNavbar, #appMain {
        margin-left: $sidenav-width-default;
    }

    .sidenav {
        min-width: $sidenav-width-default;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){ // Bootstrap Breakpoint: Medium

}

@media screen and (min-width: 992px) and (max-width: 1200px){ // Bootstrap Breakpoint: Large

}
