@font-face {
  font-family: "Titillium Web";
  src: url(../fonts/titillium_web/TitilliumWeb-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/open_sans/OpenSans-Regular.ttf);
}
body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: "Titillium Web", sans-serif !important;
}

body {
  overflow: auto;
  background-color: #dddddd;
}

#app {
  position: relative;
}

.spinner-ctr {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99999 !important;
  background: rgba(255, 255, 255, 0.4);
}
.spinner-ctr .spinner-wpr {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99998 !important;
}

.table-wrapper {
  position: relative;
  overflow-x: auto;
  background-color: #d8e7f4;
}

.page-header {
  height: 40px;
  margin-bottom: 25px;
  padding: 0;
}
.page-header .header-title {
  font-size: 1.35rem;
  border-bottom: 3px solid #f59f00;
  text-transform: uppercase;
}

.page-content {
  background-color: #ffffff;
}

.page-form {
  border-left: 24px groove #1d273b;
  border-radius: 10px 0 0 10px;
  background-color: #d8e7f4;
}

.page-tabcontainer .page-tab {
  margin-bottom: 10px;
  border-bottom: 1px solid #c7c7c7;
}
.page-tabcontainer .page-tabcontent {
  padding: 1rem;
}

.image-viewer {
  height: 200px;
  width: 200px;
  min-width: 200px;
}

.fileupload-container .custom-fileupload {
  cursor: pointer;
  width: 100%;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
  padding: 0.42rem;
}
.fileupload-container .default-fileupload {
  display: none;
}

.form-fieldset {
  background-color: #d8e7f4;
}
.form-fieldset legend {
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.form-fieldset textarea {
  min-height: 100px;
  resize: none;
}
.form-fieldset .form-label {
  color: #555555;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
}
.form-fieldset .form-control, .form-fieldset .form-select {
  border-radius: 0;
}

.datagrid-title {
  font-size: 0.85rem;
}

/* CSS Ruleset for DataTables */
.dataTables_scrollHead th {
  background: #1d273b !important;
  color: #f59f00 !important;
  padding: 0.8rem !important;
  font-size: 0.75rem !important;
}

.dataTables_scrollBody tr.odd {
  background-color: #f1f1f1 !important;
}

.dataTable {
  border: 2px solid #c7c7c7 !important;
}

.dataTables_filter {
  display: flex !important;
  width: 100% !important;
  text-align: unset !important;
}
.dataTables_filter label {
  width: 84% !important;
}
.dataTables_filter label input[type=search] {
  width: 100% !important;
  border: 2px solid #c7c7c7 !important;
  padding: 5px;
}

.dataTables_length .custom-select {
  padding: 5px;
  border: 2px solid #c7c7c7 !important;
}

.dataTables_info {
  padding-top: 0 !important;
}

.pagination {
  background-color: #ffffff;
  border: 2px solid #c7c7c7 !important;
  padding: 5px 0;
}
.pagination .paginate_button.previous, .pagination .paginate_button.next {
  background-color: #616876 !important;
  border-radius: 4px !important;
  margin: auto 8px;
  min-width: 65px;
}
.pagination .paginate_button.previous .page-link, .pagination .paginate_button.next .page-link {
  color: #ffffff !important;
}

/* CSS Ruleset for DataTables */
/* CSS Ruleset for Layout (App) */
#appNavbar, #appMain {
  margin-left: 250px;
}

#guestNavbar, #guestMain {
  margin-left: 0;
}

.navbar {
  z-index: 99997;
}
.navbar .navbar-brand {
  color: #1d273b;
}

.sidenav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 250px;
  background-color: #1d273b;
  z-index: 99997;
}
.sidenav .sidenav-top {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #f59f00;
}
.sidenav .sidenav-top .sidenav-brand {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  margin: 0;
  line-height: 1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  white-space: nowrap;
  text-decoration: none;
  color: #ffffff;
}
.sidenav .sidenav-mid {
  height: 84%;
}
.sidenav .sidenav-mid .navigation-list {
  list-style-type: none;
  padding: 0;
}
.sidenav .sidenav-mid .navigation-list li {
  cursor: pointer;
}
.sidenav .sidenav-mid .navigation-list li:hover {
  background-color: #213150;
}
.sidenav .sidenav-mid .navigation-list li.active {
  background-color: #213150;
}
.sidenav .sidenav-mid .navigation-list .navigation-link {
  width: 100%;
  padding: 20px;
  margin: 0;
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
}
.sidenav .sidenav-bot {
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #f59f00;
}
.sidenav .sidenav-bot span {
  color: #ffffff;
}

.app-logo {
  font-size: 1.2rem;
}

/* CSS Ruleset for Layout (App) */
/* CSS Ruleset for Welcome */
.nav-pills a {
  color: #ffffff;
}
.nav-pills a:hover {
  color: #d28800;
}
.nav-pills .nav-link.active {
  color: #f59f00;
}

.dropdown .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  transform: unset;
}
.dropdown .dropdown-menu-arrow::before {
  display: none;
}

/* CSS Ruleset for Welcome */
/* CSS Ruleset for Home */
.home-chart {
  background-color: #ffffff;
  padding: 1rem;
  min-height: auto;
}
.home-chart .chart-label {
  border-bottom: 3px solid #1d273b;
}

/* CSS Ruleset for Home */
@media screen and (max-width: 576px) {
  #appNavbar, #appMain {
    margin-left: 100px;
  }
  .sidenav {
    min-width: 100px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #appNavbar, #appMain {
    margin-left: 250px;
  }
  .sidenav {
    min-width: 250px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-chart {
    min-height: auto;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .home-chart {
    min-height: 290px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .home-chart {
    min-height: 345px;
  }
}
@media screen and (min-width: 1400px) {
  .home-chart {
    min-height: 430px;
  }
}

/*# sourceMappingURL=app.css.map */
