$primary-theme: #616876;
$secondary-theme: #ffffff;
$tertiary-theme: #ffff00;

$tertiary-hover: #c7c700;


@font-face {
    font-family: "Titillium Web";
    src: url(../fonts/titillium_web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/open_sans/OpenSans-Regular.ttf);
}


h1, h2, .navbar-links a {
    font-family: "Titillium Web";
}

html, body {
    font-family: "Open Sans";
}

html {
    scroll-behavior: smooth;
}

/* CSS Ruleset for Welcome */
.nav-pills {
    a {
        color: white;
        &:hover {
            color: $tertiary-hover;
        }
    }

    .nav-link {
        &.active {
            color: $tertiary-theme;
        }
    }
}
/* CSS Ruleset for Welcome */
